
.DS_Store
bin/Release/net5.0/appsettings.Development.json
bin/Release/net5.0/appsettings.json
bin/Release/net5.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Release/net5.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Release/net5.0/cs/Microsoft.CodeAnalysis.resources.dll
bin/Release/net5.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Release/net5.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Release/net5.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Release/net5.0/de/Microsoft.CodeAnalysis.resources.dll
bin/Release/net5.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Release/net5.0/dotnet-aspnet-codegenerator-design.dll
bin/Release/net5.0/EntrantsApi.deps.json
bin/Release/net5.0/EntrantsApi.dll
bin/Release/net5.0/EntrantsApi.pdb
bin/Release/net5.0/EntrantsApi.runtimeconfig.dev.json
bin/Release/net5.0/EntrantsApi.runtimeconfig.json
bin/Release/net5.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Release/net5.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Release/net5.0/es/Microsoft.CodeAnalysis.resources.dll
bin/Release/net5.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Release/net5.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Release/net5.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Release/net5.0/fr/Microsoft.CodeAnalysis.resources.dll
bin/Release/net5.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Release/net5.0/Humanizer.dll
bin/Release/net5.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Release/net5.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Release/net5.0/it/Microsoft.CodeAnalysis.resources.dll
bin/Release/net5.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Release/net5.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Release/net5.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Release/net5.0/ja/Microsoft.CodeAnalysis.resources.dll
bin/Release/net5.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Release/net5.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Release/net5.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Release/net5.0/ko/Microsoft.CodeAnalysis.resources.dll
bin/Release/net5.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Release/net5.0/Microsoft.AspNetCore.Razor.Language.dll
bin/Release/net5.0/Microsoft.Bcl.AsyncInterfaces.dll
bin/Release/net5.0/Microsoft.CodeAnalysis.CSharp.dll
bin/Release/net5.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
bin/Release/net5.0/Microsoft.CodeAnalysis.dll
bin/Release/net5.0/Microsoft.CodeAnalysis.Razor.dll
bin/Release/net5.0/Microsoft.CodeAnalysis.Workspaces.dll
bin/Release/net5.0/Microsoft.Data.SqlClient.dll
bin/Release/net5.0/Microsoft.EntityFrameworkCore.Abstractions.dll
bin/Release/net5.0/Microsoft.EntityFrameworkCore.Design.dll
bin/Release/net5.0/Microsoft.EntityFrameworkCore.dll
bin/Release/net5.0/Microsoft.EntityFrameworkCore.InMemory.dll
bin/Release/net5.0/Microsoft.EntityFrameworkCore.Relational.dll
bin/Release/net5.0/Microsoft.EntityFrameworkCore.SqlServer.dll
bin/Release/net5.0/Microsoft.Extensions.DependencyInjection.dll
bin/Release/net5.0/Microsoft.Identity.Client.dll
bin/Release/net5.0/Microsoft.IdentityModel.JsonWebTokens.dll
bin/Release/net5.0/Microsoft.IdentityModel.Logging.dll
bin/Release/net5.0/Microsoft.IdentityModel.Protocols.dll
bin/Release/net5.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
bin/Release/net5.0/Microsoft.IdentityModel.Tokens.dll
bin/Release/net5.0/Microsoft.OpenApi.dll
bin/Release/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
bin/Release/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
bin/Release/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.dll
bin/Release/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
bin/Release/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
bin/Release/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
bin/Release/net5.0/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
bin/Release/net5.0/Newtonsoft.Json.dll
bin/Release/net5.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Release/net5.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Release/net5.0/pl/Microsoft.CodeAnalysis.resources.dll
bin/Release/net5.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Release/net5.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Release/net5.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Release/net5.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
bin/Release/net5.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Release/net5.0/ref/EntrantsApi.dll
bin/Release/net5.0/Resources/Entrants.postman_collection.json
bin/Release/net5.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Release/net5.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Release/net5.0/ru/Microsoft.CodeAnalysis.resources.dll
bin/Release/net5.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Release/net5.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
bin/Release/net5.0/runtimes/win-arm/lib/net5.0/dotnet-aspnet-codegenerator-design.exe
bin/Release/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
bin/Release/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.pdb
bin/Release/net5.0/runtimes/win-arm64/lib/net5.0/dotnet-aspnet-codegenerator-design.exe
bin/Release/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
bin/Release/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.pdb
bin/Release/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
bin/Release/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.pdb
bin/Release/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
bin/Release/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.pdb
bin/Release/net5.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
bin/Release/net5.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
bin/Release/net5.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
bin/Release/net5.0/Swashbuckle.AspNetCore.Swagger.dll
bin/Release/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
bin/Release/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
bin/Release/net5.0/System.Composition.AttributedModel.dll
bin/Release/net5.0/System.Composition.Convention.dll
bin/Release/net5.0/System.Composition.Hosting.dll
bin/Release/net5.0/System.Composition.Runtime.dll
bin/Release/net5.0/System.Composition.TypedParts.dll
bin/Release/net5.0/System.Configuration.ConfigurationManager.dll
bin/Release/net5.0/System.Diagnostics.DiagnosticSource.dll
bin/Release/net5.0/System.IdentityModel.Tokens.Jwt.dll
bin/Release/net5.0/System.Runtime.Caching.dll
bin/Release/net5.0/System.Security.Cryptography.ProtectedData.dll
bin/Release/net5.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Release/net5.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Release/net5.0/tr/Microsoft.CodeAnalysis.resources.dll
bin/Release/net5.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Release/net5.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Release/net5.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Release/net5.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
bin/Release/net5.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Release/net5.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Release/net5.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Release/net5.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
bin/Release/net5.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
obj/Release/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Release/net5.0/EntrantsApi.AssemblyInfo.cs
obj/Release/net5.0/EntrantsApi.AssemblyInfoInputs.cache
obj/Release/net5.0/EntrantsApi.assets.cache
obj/Release/net5.0/EntrantsApi.csproj.AssemblyReference.cache
obj/Release/net5.0/EntrantsApi.csproj.CopyComplete
obj/Release/net5.0/EntrantsApi.csproj.CoreCompileInputs.cache
obj/Release/net5.0/EntrantsApi.csproj.FileListAbsolute.txt
obj/Release/net5.0/EntrantsApi.deps.json
obj/Release/net5.0/EntrantsApi.dll
obj/Release/net5.0/EntrantsApi.GeneratedMSBuildEditorConfig.editorconfig
obj/Release/net5.0/EntrantsApi.genruntimeconfig.cache
obj/Release/net5.0/EntrantsApi.MvcApplicationPartsAssemblyInfo.cache
obj/Release/net5.0/EntrantsApi.MvcApplicationPartsAssemblyInfo.cs
obj/Release/net5.0/EntrantsApi.pdb
obj/Release/net5.0/EntrantsApi.RazorTargetAssemblyInfo.cache
obj/Release/net5.0/PublishOutputs.105ffd32a1.txt
obj/Release/net5.0/ref/EntrantsApi.dll
obj/Release/net5.0/staticwebassets/EntrantsApi.StaticWebAssets.Manifest.cache
obj/Release/net5.0/staticwebassets/EntrantsApi.StaticWebAssets.xml
publish/appsettings.Development.json
publish/appsettings.json
publish/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
publish/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
publish/cs/Microsoft.CodeAnalysis.resources.dll
publish/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
publish/de/Microsoft.CodeAnalysis.CSharp.resources.dll
publish/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
publish/de/Microsoft.CodeAnalysis.resources.dll
publish/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
publish/dotnet-aspnet-codegenerator-design.dll
publish/EntrantsApi.deps.json
publish/EntrantsApi.dll
publish/EntrantsApi.pdb
publish/EntrantsApi.runtimeconfig.json
publish/es/Microsoft.CodeAnalysis.CSharp.resources.dll
publish/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
publish/es/Microsoft.CodeAnalysis.resources.dll
publish/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
publish/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
publish/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
publish/fr/Microsoft.CodeAnalysis.resources.dll
publish/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
publish/Humanizer.dll
publish/it/Microsoft.CodeAnalysis.CSharp.resources.dll
publish/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
publish/it/Microsoft.CodeAnalysis.resources.dll
publish/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
publish/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
publish/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
publish/ja/Microsoft.CodeAnalysis.resources.dll
publish/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
publish/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
publish/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
publish/ko/Microsoft.CodeAnalysis.resources.dll
publish/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
publish/Microsoft.AspNetCore.Razor.Language.dll
publish/Microsoft.Bcl.AsyncInterfaces.dll
publish/Microsoft.CodeAnalysis.CSharp.dll
publish/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
publish/Microsoft.CodeAnalysis.dll
publish/Microsoft.CodeAnalysis.Razor.dll
publish/Microsoft.CodeAnalysis.Workspaces.dll
publish/Microsoft.Data.SqlClient.dll
publish/Microsoft.EntityFrameworkCore.Abstractions.dll
publish/Microsoft.EntityFrameworkCore.dll
publish/Microsoft.EntityFrameworkCore.InMemory.dll
publish/Microsoft.EntityFrameworkCore.Relational.dll
publish/Microsoft.EntityFrameworkCore.SqlServer.dll
publish/Microsoft.Extensions.DependencyInjection.dll
publish/Microsoft.Identity.Client.dll
publish/Microsoft.IdentityModel.JsonWebTokens.dll
publish/Microsoft.IdentityModel.Logging.dll
publish/Microsoft.IdentityModel.Protocols.dll
publish/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
publish/Microsoft.IdentityModel.Tokens.dll
publish/Microsoft.OpenApi.dll
publish/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
publish/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
publish/Microsoft.VisualStudio.Web.CodeGeneration.dll
publish/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
publish/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
publish/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
publish/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
publish/Newtonsoft.Json.dll
publish/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
publish/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
publish/pl/Microsoft.CodeAnalysis.resources.dll
publish/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
publish/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
publish/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
publish/pt-BR/Microsoft.CodeAnalysis.resources.dll
publish/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
publish/Resources/Entrants.postman_collection.json
publish/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
publish/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
publish/ru/Microsoft.CodeAnalysis.resources.dll
publish/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
publish/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
publish/runtimes/win-arm/lib/net5.0/dotnet-aspnet-codegenerator-design.exe
publish/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
publish/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.pdb
publish/runtimes/win-arm64/lib/net5.0/dotnet-aspnet-codegenerator-design.exe
publish/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
publish/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.pdb
publish/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
publish/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.pdb
publish/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
publish/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.pdb
publish/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
publish/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
publish/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
publish/Swashbuckle.AspNetCore.Swagger.dll
publish/Swashbuckle.AspNetCore.SwaggerGen.dll
publish/Swashbuckle.AspNetCore.SwaggerUI.dll
publish/System.Composition.AttributedModel.dll
publish/System.Composition.Convention.dll
publish/System.Composition.Hosting.dll
publish/System.Composition.Runtime.dll
publish/System.Composition.TypedParts.dll
publish/System.Configuration.ConfigurationManager.dll
publish/System.Diagnostics.DiagnosticSource.dll
publish/System.IdentityModel.Tokens.Jwt.dll
publish/System.Runtime.Caching.dll
publish/System.Security.Cryptography.ProtectedData.dll
publish/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
publish/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
publish/tr/Microsoft.CodeAnalysis.resources.dll
publish/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
publish/web.config
publish/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
publish/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
publish/zh-Hans/Microsoft.CodeAnalysis.resources.dll
publish/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
publish/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
publish/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
publish/zh-Hant/Microsoft.CodeAnalysis.resources.dll
publish/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
